# Example configuration only

AWS_REGION=eu-central-1

DATABASE_URL=YOUR_DATABASE_CONNECTION_STRING

STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET

TTLOCK_CLIENT_ID=YOUR_TTLOCK_CLIENT_ID
TTLOCK_CLIENT_SECRET=YOUR_TTLOCK_CLIENT_SECRET

MAILERLITE_API_KEY=YOUR_MAILERLITE_API_KEY

ADMIN_API_SECRET=YOUR_ADMIN_API_SECRET